.button {
  @include font (16px, 600, normal, 24px);
  border-radius: 4px;
  text-align: center;
}

.button-filled {
  border: 0;
  color: $color-button-text;
  background: $color-brand;
}

.button-ghost {
  border: 1px solid $color-border;
  color: $color-logo;
}

// .feedback-form-button {
//   @include button (8px 15px 7px, 0, $color-button-text, $color-brand);
// }
