.feedback-form-input {
  width: 100%;
  padding: 10px 15px;
  margin: 31px 0 20px;
  box-sizing: border-box;
  border: 1px solid $color-border;
  border-radius: 4px;
  background: $color-button-text;
  color: $color-border;

  &::placeholder {
    color: $color-border;
  }
}
