.trade-offer-image {
  width: 55%;

  @include content-width-l {
    width: 40%;
  }

  @include content-width-m {
    width: 30%;
  }

  @include tablet-width {
    display: none;
  }

  @include tablet-width-half {
    display: block;
    width: 75%;
  }
}

.professional-image,
.product-manager-image,
.marketer-image {
  width: 48%;

  @include content-width-l {
    width: 40%;
  }

  @include content-width-m {
    width: 40%;
  }

  @include content-width-s {
    display: none;
  }
}

