.manager-list {
  @include font (16px, 500, normal, 26px);
  margin-top: 55px;
  max-width: 435px;

  @include content-width-m {
    margin-top: 30px;
  }

  @include content-width-s {
    max-width: 100%;
  }

  @include mobile-width {
    margin-top: 10px;
  }

  &-item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 0 30px 65px;

    @include content-width-m {
      padding: 0 0 18px 65px;
    }

    @include mobile-width {
      padding: 0 0 12px 50px;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      width: 35px;
      height: 35px;
      border-radius: 14px;
      background: url("../images/check.svg") no-repeat center center;
      background-color: $color-brand;
    }
  }
}

.navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 327px;

  @include content-width-m {
    width: 305px;
  }

  @include content-width-s {
    width: 355px;
  }

  @include tablet-width {
    display: none;
  }

  &-item-link {
    @include font (14px, normal, normal, 28px);
    @include animation (none, ease-in-out 0.2s);
    color: $color-links;

    &:hover {
      @include animation (none, ease-in-out 0.2s);
      color: $color-brand;
      border-bottom: 2px solid $color-brand;
      padding-bottom: 5px;
    }
  }
}
