.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-name {
  @include font (29px, 800, normal, 30px);
  font-family: "Poppins", sans-serif;
  color: $color-logo;
  display: inline-block;
  margin-left: 11px;
}
