$color-brand: #ff9900;
$color-logo: #173a56;
$color-title: #2f281e;
$color-text: #544837;
$color-links: #2f281e;
$color-hover-links: #ff9900;
$color-border: #bcd0e5;
$color-border-opacity: rgba(188, 208, 229, 0.496913);
// $color-active-links: #2F281E;
// $color-visited-links: #2F281E;
$color-button-text: #ffffff;
$color-background: #f2f2f2;
$color-pager: #efefef;

$content-width: 1400px;
$content-small-width: 1170px;
$tablet-width: 768px;
$mobile-width: 375px;
$mobile-small-width: 320px;

