.bottom {
  border-top: 1px solid $color-border-opacity;

  & .logo-footer {
    margin-right: 7%;
  }

  & .quick-links {
    width: 17%;
    margin-left: 30px;

    & .h5 {
      margin-bottom: 37px;
    }
  }

  & .feedback-form {
    max-width: 326px;

    & .form-button {
      padding: 8px 17px 7px;
    }
  }
}
