.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;

  & .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 75%;

    @include content-width-l {
      width: 67%;
    }

    & .logo {
      @include animation (scale(1, 1), ease-in-out 0.5s);

      &:hover {
        @include animation (scale(1.2, 1.2), ease-in-out 0.5s);
      }
    }
  }

  &-buttons {
    display: flex;
    justify-content: space-between;

    &-ghost {
      margin-right: 14px;
      padding: 11px 25px 11px 22px;
    }

    &-filled {
      padding: 11px 25px 11px 23px;
    }
  }
}

