.stuff-information-odd,
.stuff-information-even {
  & .h2 {
    margin-bottom: 27px;

    &-simple-text {
      @include font (16px, 500, normal, 26px);
      display: block;
    }
  }

  & .simple-text {
    @include font (16px, 500, normal, 26px);
    margin-bottom: 25px;

    &-higher {
      margin-bottom: 30px;
    }
  }

  & .h6 {
    margin-bottom: 12px;
  }
}

.stuff-information-odd {
  max-width: 475px;
  margin-top: 27px;
}

.stuff-information-even {
  max-width: 486px;
  margin-top: 30px;
}

