.section-trade-offer {
  padding: 47px 0 110px;

  & .trade-offer {
    margin-right: 63px;

    & .h1 {
      margin-bottom: 30px;
    }

    &-text {
      @include font (18px, normal, normal, 28px);
      margin-bottom: 45px;
    }

    &-button {
      display: flex;
      align-items: center;

      &-filled {
        margin-right: 31px;
        padding: 15px 41px 14px;
      }

      & .link-to-video {
        @include font (16px, 600, normal, 24px);
        display: flex;
        position: relative;
        text-decoration-line: underline;
        color: $color-brand;

        &::before {
          content: "";
          width: 20px;
          height: 20px;
          background: url("../images/arrow.svg") no-repeat center center;
        }
      }
    }
  }
}

