.h1 {
  @include font (44px, bold, normal, 54px);
  font-family: "Poppins", sans-serif;
  color: $color-title;
}

.h2 {
  @include font (36px, bold, normal, 54px);
  font-family: "Poppins", sans-serif;
  color: $color-title;
}

.h3 {
  @include font (34px, bold, normal, 51px);
  font-family: "Poppins", sans-serif;
  color: $color-title;
}

.h4 {
  @include font (22px, 600, normal, 33px);
  font-family: "Poppins", sans-serif;
  color: $color-title;
}

.h5 {
  @include font (20px, 900, normal, 30px);
  font-family: "Avenir", sans-serif;
  color: $color-title;
}

.h6 {
  @include font (16px, bold, normal, 26px);
  font-family: "Poppins", sans-serif;
  color: $color-title;
}

p,
li,
a,
button,
figure,
span {
  font-family: "Poppins", sans-serif;
  color: $color-text;
}

input {
  @include font (16px, 900, normal, 28px);
  font-family: "Avenir", sans-serif;
  color: $color-border;
}
